@page "/cars"

@using AutomobiliuPardavimoPrograma.Services
@using AutomobiliuPardavimoPrograma.Models
@using Microsoft.EntityFrameworkCore
@using AutomobiliuPardavimoPrograma.Components
@rendermode InteractiveServer
@inject AppDbContext Db
@inject CarService CarService

<PageTitle>Cars</PageTitle>

<h1 class="rounded-md text-center">CARS</h1>


<div class="mb-2 text-white">

    <button class="bg-amber-500 p-2 rounded-md" @onclick="() => modalRef.ShowModal()"> Add car listing</button>
    <AddCarModal @ref="modalRef"></AddCarModal>
</div>

@if (automobiliai == null)
{
    <p>Kraunama...</p>
}
else if (!automobiliai.Any())
{
    <p>Duomenų nėra.</p>
}
else
{
@foreach(var cars in automobiliai)
{
    <CarItem  Car="cars"></CarItem>
}
}

@code {
    private AddCarModal modalRef;
    private List<Automobilis>? automobiliai;

    protected override async Task OnInitializedAsync()
    {
        automobiliai = await CarService.GautiVisusAsync();
    }
}
