@page "/user/{Id:int}"
@using AutomobiliuPardavimoPrograma.Services
@using AutomobiliuPardavimoPrograma.Models
@using AutomobiliuPardavimoPrograma.Components
@inject UserService UserService
@inject CarService CarService
@inject UserCarLikesService CarLikesService



<div class="grid grid-cols-12">
    <div class="col-start-4 col-span-6 rounded-md rounded-b-none bg-slate-100 p-2 h-full w-full mt-5 ">
        <div class="p-2 font-serif">
            <div>
                <h1 class="text-black text-4xl font-bold">@currentUser?.Vardas</h1>
                <h2 class="text-black">@currentUser?.ElPastas</h2>


            </div>
        </div>

    </div>
    <!-- Navigation menu -->
    <div class="col-start-4 col-span-6 bg-slate-50 border-t-2 border-slate-500 text-gray-700 h-[45px] w-full">         
        <TabsForUserProfile Id="Id"></TabsForUserProfile>
        

    </div>



</div>
@code {

    private Vartotojas? currentUser { get; set; }

    [Parameter]
    public int Id { get; set; }

   

    protected override async Task OnInitializedAsync()
    {
     
    currentUser = await UserService.GautiPagalIdAsync(Id);




    }
}
