@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using AutomobiliuPardavimoPrograma.Services
@using AutomobiliuPardavimoPrograma.Components
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation
@inject UserService UserService
@using System.Security.Claims


<div class="page">
    <main>
        <div class="bg-gradient-to-b from-slate-100 via-slate-50 to-slate-200 p-4 flex items-center relative">
            <a href="/cars" class="text-slate-500 cursor-pointer hover:underline">Cars</a>
            

            <AuthorizeView>
                <Authorized>
                    <div class="absolute right-1 flex text-center">
                    <span class="text-green-700 p-2" > Labas, 
                        <a href="@($"/user/{userId}")" class="hover:underline"><b> @context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value </b></a>
                    </span>

                    <a class="text-red-500 p-2 hover:underline" href="/logout">Atsijungti</a>

                    </div>
                    
                </Authorized>
                <NotAuthorized>
                    <div class="absolute right-1 p-2">
                    <a href="/login" class="text-slate-500 mr-1 cursor-pointer hover:underline">Prisijungti</a>
                    <a href="/register" class="text-slate-500 cursor-pointer hover:underline">Registruotis</a>
                    </div>
                    
                </NotAuthorized>
            </AuthorizeView>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code {
    private int userId = -1;
     protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user      = authState.User;
        if(!user.Identity.IsAuthenticated)return ;

      
        var userName = user.Identity.Name;
        var currentUser = await UserService.GautiPagalUserNameAsync(userName);
        userId = currentUser.Id;
       

       
    }

}
