@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider

@inject NavigationManager Navigation
@using System.Security.Claims


<div class="page">
    <main>
        <div class="bg-gradient-to-b from-slate-100 via-slate-50 to-slate-200 p-4 flex items-center relative">
            <a href="/cars" class="text-slate-500 cursor-pointer hover:underline">Cars</a>
            

            <AuthorizeView>
                <Authorized>
                    <div class="absolute right-1 flex text-center">
                    <span class="text-green-700 mr-2 p-2" > Labas, <b> @context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value</b></span>
                    <a class="text-red-500 p-2" href="/logout">Atsijungti</a>

                    </div>
                    
                </Authorized>
                <NotAuthorized>
                    <div class="absolute right-1 p-2">
                    <a href="/login" class="text-slate-500 mr-1 cursor-pointer hover:underline">Prisijungti</a>
                    <a href="/register" class="text-slate-500 cursor-pointer hover:underline">Registruotis</a>
                    </div>
                    
                </NotAuthorized>
            </AuthorizeView>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code {
  

}
