@inherits LayoutComponentBase

<div class="page">
   
    <main>
        <div class="bg-gradient-to-b  from-slate-100 via-slate-50 to-slate-200 p-4 flex">
            <a href="cars" class="text-slate-500 cursor-pointer hover:underline">Cars</a>
            <a href="register" class="text-slate-500 cursor-pointer ml-4 hover:underline">Register</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
